.card {
    margin: 20px;
    width: 275px;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    text-align:center;
}


.card-container {
    width: 85%;
    margin: auto;
}

.game-listing {
    width: 275px;
    color: red;
}

#game-cover {
    width: 275px;

    /*-webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;*/
}


/*#game-cover:hover,
#game-cover:active,
#game-cover:focus {
 
    -ms-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
    position: relative;
    z-index: 100;
}*/

#cardbtn {
    text-align: center;
    margin: 0 auto;
    font-family: '8BITWONDERNominal';
    font-weight: normal;
    background-color: #dc3d1d;
    margin-bottom: 20px;
    font-size: 14px;
}
