.jumbotron {
   

}

#desc {
    margin: 0 auto;
    width: 60%;
    padding: 20px;
    border-radius: 3px;
    text-align: center;
    background-color: gray;
    font-size: 18px;
    font-family: Lato;
    margin-bottom: 20px;
}

#signupbtn {
    text-align: center;
    margin: 0 auto;
    font-family: '8BITWONDERNominal';
    font-weight: normal;
    background-color: #dc3d1d;
    margin-bottom: 20px;    
}

.centeredbutton {
    text-align: center;
    margin: 0 auto;
}