.nav {
    margin: 0 auto;
    text-align: center;
    font-family: '8BITWONDERNominal';
    font-weight: normal;
    font-style: normal;
    background-image: linear-gradient(red, black);
    border-radius: 3px;
}
#navwrapper {
    text-align: center;
}

.nav-item {
    display: inline-block
}
