.totalvalue {
    -webkit-text-stroke: 1px black;
    width: 60%;
    margin: 0 auto;
    font-size: 18px;
    margin: 0 auto;
    background-color: gray;
    font-family: '8BITWONDERNominal';
    font-weight: normal;
    color: #DC3D1D;
    border-radius: 2px;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

#bigprice {
    color: red;
    font-size: 24px;
    -webkit-text-stroke: 1px black;
    text-shadow: 4px 4px 10px red;
}
 