#logintitle {
    text-align: center;
    font-family: '8BITWONDERNominal';
    font-weight: normal;
    font-style: normal;
    color: #dc3d1d;
}
.form-wrapper {
    text-align: center;
}

.text-center {
    display: inline-block;
    background-color: gray;
    border-radius: 4px;
    width: 50%;
}
