@model UserWishlistViewModel

<form asp-action="AddWishlist" method="post" enctype="multipart/form-data">
    <input list="brow" asp-for="@Model.Game.Title">
    <div class="form-group">
        <datalist id="brow">
            @foreach (var g in Model.Games)
            {
                <option value="@g.Title" />
            }
        </datalist>
    </div>

    <input type="number" asp-for="@Model.MaxPrice"   step="0.01">

    <button type="submit" class="btn btn-primary">Add Game to Wishlist</button>

</form>
