@model AppUser

@{
    ViewData["Title"] = "DeleteUser";
}

<h2>Delete Users</h2>
<div class="addeditform">
    <h3>Are you sure you want to delete this?</h3>
    <div>


        <form asp-action="Delete">
            <input type="submit" asp-action="DeleteUser" id="signupbtn" value="Delete User" class="btn btn-primary" /> |
            <input type="submit" asp-action="ListAllUsers" id="signupbtn" class="btn btn-primary" value="Back To Users" />
        </form>


    </div>
</div> 